################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ImageConverter/ImageConverter/.vs/ImageConverter
/ImageConverter/ImageConverter/ImageConverter/obj
*.bin
